<!DOCTYPE html>
<html>
<head>
<title>WOW| Welcome</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link href="https://fonts.googleapis.com/css?family=Dosis|Handlee|Indie+Flower|Josefin+Sans|Neucha|Poiret+One|Rancho" rel="stylesheet">


<style type="text/css">

    button {background-color:#ff9966; color:white; padding-left:20px;
		padding-right:20px}

    h6 {color:#ff9966}

    p  {color:#d9b38c}
a{text-decoration: none;}
/* font of site*/
  .w3-tangerine {
font-family: 'Handlee', cursive;
}

  </style>


</head>
<body>

<div class="w3-container">
 <div class="w3-card-4" style="width:100% ">
<div class="w3-tangerine">
    <div class="w3-container">
      <h6>Need a help?</h6>
      <hr>
      <img src="/static/images/cu.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
	  <p>This is Noorah from customer service support</p>
      <p>We are pleased to answer you for any concerns  </p>
	  <p>If you would prefer to email us directly please use: <a href="mailto:world.of.wedmin1@hotmail.com">world.of.wedmin1@gmail.com</a></p><br>
    </div>
      <center>  <button ><a href="tel:0535296932">Call Us 0535296932</a></button></center>
</div>  </div>
</div>

</body>
</html>
