<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

     <link rel="stylesheet" href="/static/css/style.css">

     <link href="https://fonts.googleapis.com/css?family=Dosis|Handlee|Indie+Flower|Josefin+Sans|Neucha|Poiret+One|Rancho" rel="stylesheet">
  <title>WOW</title>
</head>

<body>
  <header>
      <div class="container1" >
      
      <marquee><img src="/static/images/free.png" style="width:300px ; hight:300px" /></marquee>
      
      <div id="branding">
      <center><img src="/static/images/logo2.png" alt="logo" style="width:300px ; hight:100px" ></center>
      </div><br>
      
      <div class="headNav" class="center-align" class="card-panel teal lighten-2">
     <div class="blue-text text-darken-2">
       <a href="/users/login"  class="center-align"> Home</a>
       <a href="/about" class="center-align"> About</a>
      <a href="/services" class="center-align">Services </a>
       <!-- <div id="comments">
          <a href="#" class="btn">Contact Us</a>
          <div id="comment-wrap">
              <iframe src="contact.html"></iframe>
          </div></div> -->
        </div>
    </div>
      </div>
      </header>
      <br>
      <div class="container1" >
     <br><br>

     <section id="main">

            <div class="container">
    
            <article id="main-col">
    
            <h1 class="page-title"> About Us </h1>
    
            <p>
    
            When you’re getting married, you want everything to be perfect. Someone to take the worry away.  At your big day, we provide you with all your requirements to make your day unforgettable. We ensure that our client look the most beautiful and make her wedding exceptional. To accomplish our mission, we provide our brides with the best products and services from the best wedding vendors in order to provide stress free wedding of their dreams while saving them time, money and worry.  We’re skilled at handling every detail, from wearings to flowers to entertainment, to our incredible catering. We believe that we are able to "transform dreams into reality", and strive just to do that.</p>
    
            <p class="dark"> <B>Mission:</b> help brides achieve that ultimate dream look for the special day with minimal effort and stress.
    </br><br>
    <b>Vision: </b>To become the  online favorite and "go to" brand for women by providing everything they need to plan for their weddings.</p>
    
           </article>
    
           <aside id="sidebar">
    
            <div class="dark">
    
                <h3>Are you a Vendor? </h3>
    
                <p>Email us with your info to upload your details in our server. Lets make this site wonderful together. </p>
    
            </div>
    
           </aside>
    
           </div>
           <br>
           </br></br></br>
    
        </section>

    </div>
<!-- 
<footer> <img src="/static/images/footer.png" height="100px" width="100%"></a> </footer> -->
</body>
<script src="/static/js/main.js"></script>
</html>