<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <link rel="stylesheet" href="/static/css/style.css">

    
<link href="https://fonts.googleapis.com/css?family=Dosis|Handlee|Indie+Flower|Josefin+Sans|Neucha|Poiret+One|Rancho" rel="stylesheet">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Niconne">



  <title>Express Dictionary</title>
</head>
<body>

    <header>
        <div class="w3-tangerine">
        <div class="container1" >
        
        <marquee><img src="/static/images/free.png" style="width:300px ; hight:300px" /></marquee>
        
        <div id="branding">
        <center><img src="/static/images/logo2.png" alt="logo" style="width:300px ; hight:100px" ></center>
        </div>
        
        <nav >
       <ul class="blue-text text-darken-2" >
        <li class="current" class="center-align"> <a href="index.html"> Home</a></li>
        <li> <a href="about.html"> About</a></li>
        <li><a href="services.html">Services </a></li>
        <li> <div id="comments">
            <a href="#" class="btn">Contact Us</a>
            <div id="comment-wrap">
                <iframe src="contact.html"></iframe>
            </div></div>
        </ul>
        </nav>
        </div></div>
        </header>
        <br>
        <div class="container1" >
       
            <center> <img src="/static/images/header.png" width="700px" height="300px"></center>
            
            <div class="row">
                <form class="col s12">
                 
                  <div class="row">
                      <div class="input-field col s3">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                      </div>
                    </div>
                  <div class="row">
                    <div class="input-field col s3">
                      <input id="password" type="password" class="validate">
                      <label for="password">Password</label>
                    </div>
                  </div>
                 
                </form>
              </div>
</body>

<script src="/static/js/main.js"></script>
</html>