<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

     <link rel="stylesheet" href="/static/css/style.css">

     <link href="https://fonts.googleapis.com/css?family=Dosis|Handlee|Indie+Flower|Josefin+Sans|Neucha|Poiret+One|Rancho" rel="stylesheet">
  <title>WOW</title>
</head>

<body>
  <header>
      <div class="container1" >
      
      <marquee><img src="/static/images/free.png" style="width:300px ; hight:300px" /></marquee>
      
      <div id="branding">
      <center><img src="/static/images/logo2.png" alt="logo" style="width:300px ; hight:100px" ></center>
      </div><br>
      
      <div class="headNav" class="center-align" class="card-panel teal lighten-2">
     <div class="blue-text text-darken-2">
       <a href="/users/login"  class="center-align"> Home</a>
       <a href="/about" class="center-align"> About</a>
      <a href="/services" class="center-align">Services </a>
       <!-- <div id="comments">
          <a href="#" class="btn">Contact Us</a>
          <div id="comment-wrap">
              <iframe src="contact.html"></iframe>
          </div></div> -->
        </div>
    </div>
      </div>
      </header>
      <br>
      <div class="container1" >
    
<section id="main">

	    <div class="container">

		<article id="main-col">

		<h1 class="page-title"> Services </h1>

		<ul id="services">


			<li id="grow">
	<div class="grow"> <img src="/static/images/wr1.jpg" style="width:150px ; hight:150px"></div>

				<h3>Wearings</h3></br>

				<p>We provide you with variety of wearing stuffs to order for your day. We have a section with almost all dresses designs that suit your body. In addition, we have section with glowing and attracting jewelry and accessories that adds a beauty to your look. Also, your steps will become more courage and comfortable if you ordered form our unique and fancy heels collection. </p>
			</li>

			<li id="grow">
				<div class="grow"> <img src="/static/images/b16.jpg" style="width:150px ; hight:150px"></div>

				<h3>Bouquet</h3></br>

				<p>Your bouquet plays an important role for your final look. We design it with very attracting combination of many kinds of flowers. If you want bouquet that adds a beauty to your look, you should order form us.</p>
			</li>

			<li id="grow">
				<div class="grow"> <img src="/static/images/v1.jpg" style="width:150px ; hight:150px"></div>

				<h3>Venue</h3></br>

				<p>It's important for you to choose the right venue of your special day. Here you can find a collection of places to book in.</p>
			</li>


			<li id="grow">
					<div class="grow"> <img src="/static/images/br.jpg" style="width:150px ; hight:150px"></div>

				<h3>Decoration</h3></br>

				<p>We ensure that your guests will be inspired by the decoration of your venue, little things and touches can make all the difference. We provide a service for decorating your place also including the reception were you can order some of our boards. in addition, we add a touch of personalization and words for your wedding decor including water glasses, napkins and other table decorations. </p>
			</li>

			<li id="grow">
					<div class="grow"> <img src="/static/images/inv2.png" style="width:150px ; hight:150px"></div>

				<h3>Invitation Cards</h3></br>

				<p>Every wedding is the culmination of a beautiful story, celebrating two people’s unique reasons for joining their lives together. Your wedding invitations tell your story in a way that’s as fresh and unique as you are. We provide you with variety of cards designs to order and convey your joy to friends and family.</p>
				</li>

				<li id="grow">
					<div class="grow"> <img src="/static/images/c5.jpg" style="width:150px ; hight:150px"></div>

				<h3>Catering & Cake </h3></br>

				<p>Our experienced catering vendors know the importance of food for your wedding and will create the right presentation down to the last detail to make your big day picture perfect with the best wedding catering service. Also, since custom dessert buffets are the highlight of any special occasion, we offer from vendors a sweet confections that are presented with style. In addition, you can find your dream wedding cake by having a look on our cake section</p>
				</li>

				<li id="grow">
					<div class="grow"> <img src="/static/images/hm1.png" style="width:150px ; hight:150px"></div>

				<h3>Hair & Makeup Artists</h3></br>

				<p>When it comes to looking incredible on your wedding day, why not hire a beauty, hair and makeup specialist? our site provides you with a perfect destination to find best and talented hair and makeup artists.  </p>
				</li>





		</ul>
</br>


		</article>
<div>

	   <aside id="sidebar">

		<div class="dark">

			<h3> Join WOW </h3>

			<form class="quote" action="mailto:someone@example.com" method="post">

			<div>

				<label>Vendor</label><br>

				<input type="text" placeholder="Name">

			</div>

			<div>

				<label>Email</label><br>

				<input type="email" placeholder="Email Addess">

			</div>

			<div>

				<label>About</label><br>

				<textarea placeholder="Add more details about business, pics,website..etc"> </textarea>

			</div>

			<button class="button1" type="submit">Send</button>

			</form>

		</div>

	   </aside>

	   </div>

	</section></div>

    </div>
<!-- 
<footer> <img src="/static/images/footer.png" height="100px" width="100%"></a> </footer> -->
</body>
<script src="/static/js/main.js"></script>
</html>